@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    h1, h2 {
        text-align: center;
    }

    img {
        display: block;
        margin: auto;
        height: 20vh;
    }

    h1 {
        margin-top:0 ;
        margin-bottom: 5vh ;
    }

    h2 {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #form-player {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #form-player input {
        width: 50%;
    }

    #form-player input[type="submit"] {
        background-color: white;
        color: black;
        border: 2px solid #0fbf00;
        border-radius:20px ;
        padding: 5px;
        margin-top: 5vh ;
    }

    #form-player input[type="submit"]:active {
        background-color: #0fbf00;
        color: white;
    }

    /*choice.html*/

    #names-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 10px;
    }

    #names-list button {
        background-color: white;
        color: black;
        border: 2px solid #0fbf00;
        border-radius:20px ;
        padding: 10px;
        width: 50%;
    }

    #names-list button:active {
        background-color: #0fbf00;
        color: white;
    }

    /*score.html*/

    table {
        width: 80vw;
        display: block;
        margin: auto;
        table-layout: fixed;
    }

    th, td {
        width: 40vw;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #000;
    }

    button.decrease, button.increase {
        background-color: white;
        color: #da2323;
        border: 2px solid #da2323;
        border-radius: 50%;
        padding: 5px;
        width: 30px;
        height: 30px;
    }

    button.increase {
        color: #0fbf00;
        border-color: #0fbf00;
    }

    span[id$="-score"] {
        display: inline-block;
        width: 50px;
        text-align: center;
        font-size: 16px;
    }

    @keyframes slideIn {
        from {
            transform: translateY(100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    #podium-tbody tr {
        animation: slideIn 0.5s ease-out;
    }
}
